<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kidzpark.board.mapper.BoardMapper">



  
<select id="selectMenuname"
  resultType="String">
   
   SELECT  M_NAME
   FROM    MENU
   WHERE   M_NO = #{m_no}
	
</select>

  <select id="getboardlist"
  resultType="com.kidzpark.board.domain.BoardVo">
   SELECT *
FROM (
    SELECT ROWNUM RN, A.*
    FROM (
   SELECT  *
   FROM    BOARD
   WHERE   M_NO = #{m_no}
     ORDER BY B_WRITEDATE DESC
    ) A
)
WHERE RN BETWEEN #{pg.start} AND #{pg.end} 
	
</select>

  <select id="selectBoardSearchList"
  resultType="com.kidzpark.board.domain.BoardVo">
   SELECT *
FROM (
    SELECT ROWNUM RN, A.*
    FROM (
   SELECT  *
   FROM    BOARD
   WHERE   M_NO = #{m_no}
   <if test="searchOption != 'all' and searchKeyword != ''">
        AND UPPER(${searchOption}) LIKE '%' || UPPER(#{searchKeyword}) || '%'
    </if>
      ORDER BY B_WRITEDATE DESC
    ) A
)
WHERE RN BETWEEN #{pg.start} AND #{pg.end} 
	
</select>

<select id="countboard"
  resultType="int">
   
   SELECT  COUNT(*)
   FROM    BOARD
   WHERE   M_NO = #{m_no}
	
</select>

<select id="countBoardSearchList"
  resultType="int">
   
   SELECT  COUNT(*)
   FROM    BOARD
   WHERE   M_NO = #{m_no}
   <if test="searchOption != 'all' and searchKeyword != ''">
        AND UPPER(${searchOption}) LIKE '%' || UPPER(#{searchKeyword}) || '%'
    </if>

	
</select>

  <insert  id="BoardWrite1">
     INSERT INTO  BOARD (
        B_IDX,
		B_TITLE,
		B_CONT,
		B_LIKE,
		B_READCOUNT,
		B_WRITEDATE,
		M_NO,
		U_NO
     ) VALUES (
          ( SELECT  NVL(MAX(B_IDX), 0)+1 FROM BOARD ),
		#{b_title},
		#{b_cont},
		0,
		0,
		SYSDATE,
		#{m_no},
		#{u_no}
     )
  </insert>
  
  
  <insert  id="BoardWrite2">
       INSERT INTO  BOARD (
        B_IDX,
		B_TITLE,
		B_CONT,
		B_IMG,
		B_LIKE,
		B_READCOUNT,
		B_WRITEDATE,
		M_NO,
		U_NO
     ) VALUES (
          ( SELECT  NVL(MAX(B_IDX), 0)+1 FROM BOARD ),
		#{b_title},
		#{b_cont},
		#{b_img},
		0,
		0,
		SYSDATE,
		#{m_no},
		#{u_no}
     )
  </insert>

  <select id="boardView"
  resultType="map">
   
   SELECT  *
   FROM    BOARD
   WHERE   B_IDX = #{b_idx}
	
</select>

<update id="updateReadcount">
UPDATE BOARD SET 
B_READCOUNT = (B_READCOUNT+1)
WHERE B_IDX = #{b_idx} 
</update>

<delete id="boardDelete">
DELETE FROM BOARD
WHERE B_IDX = #{b_idx} 

</delete>

<update id="boardUpdate1">
UPDATE BOARD SET 
B_TITLE = #{b_title},
B_CONT = #{b_cont},
B_IMG = #{b_img},
B_WRITEDATE = SYSDATE
WHERE B_IDX = #{b_idx} 

</update>

<update id="boardUpdate2">
UPDATE BOARD SET 
B_TITLE = #{b_title},
B_CONT = #{b_cont},
B_WRITEDATE = SYSDATE
WHERE B_IDX = #{b_idx} 

</update>

<insert  id="commentWrite">
     INSERT INTO  COMMT (
        C_IDX,
		C_COMMENT,
		C_COMMENTDATE,
		B_IDX,
		U_NO
     ) VALUES (
          ( SELECT  NVL(MAX(C_IDX), 0)+1 FROM COMMT ),
		#{c_comment},
		SYSDATE,
		#{b_idx},
		#{u_no}
     )
  </insert>
  
  <select id="selectCommentList"
  resultType="list">
   
 SELECT *
FROM (
    SELECT ROWNUM RN, A.*
    FROM (
SELECT *
    FROM COMMT
WHERE B_IDX = ${b_idx}
ORDERBY C_IDX DESC
    ) A
)
WHERE RN BETWEEN #{start} AND #{end} 
	
</select>

<select id="countCommentList" resultType="int">
 
SELECT COUNT(*) FROM COMMT
WHERE B_IDX = ${b_idx}
 
 </select>

</mapper>