<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kidzpark.chat.mapper.ChatMapper">


<insert id="update" parameterType="com.kidzpark.chat.service.ChatMessage">

INSERT INTO CHAT ( CHR_NO, CHR_MESSAGE, U_NO)
VALUES( #{chr_no}, #{chr_message}, #{u_no})

</insert>

<insert id="insertRoom" >
INSERT INTO CHATROOM ( CHR_NO, CHR_TITLE, CHR_OPENDATE)
VALUES( (SELECT NVL(MAX(CHR_NO),0)+1 FROM CHATROOM), #{chr_title}, SYSDATE)
</insert>

<select id="getRoom" resultType="com.kidzpark.chat.service.Room">

SELECT 
		C.CHR_NO,
		C.CHR_TITLE,
		C.CHR_OPENDATE,
		(SELECT COUNT(CB.U_NO) FROM CHATMEMBER CB WHERE CB.CHR_NO = C.CHR_NO) AS CHR_PEOPLECOUNT 
 FROM CHATROOM C 	   
 ORDER BY C.CHR_NO ASC
 
</select>

<select id="countChatroommember" resultType="int">
SELECT  COUNT(*)
 FROM CHATMEMBER 	   
 WHERE U_NO = #{u_no} AND CHR_NO = #{chr_no}
 
</select>

<select id="msgList" resultType="com.kidzpark.chat.service.ChatMessage">
SELECT
	 C.CHR_NO
	,C.CHR_MESSAGE
	,C.CHR_SUBMITTIME
	,C.U_NO
	,P.U_NICKNAME
 FROM  CHAT C LEFT JOIN PUSER P ON C.U_NO = P.U_NO 
 WHERE C.CHR_NO = #{chr_no}
</select>

<insert id="insertMessage">
	INSERT INTO CHAT (CHR_NO, CHR_MESSAGE, CHR_SUBMITTIME, U_NO)
	VALUES( #{chr_no}, #{chr_message}, SYSDATE, #{u_no} )
</insert>

<insert id="joinChatroom">
	INSERT INTO CHATMEMBER (CHR_NO, U_NO)
	VALUES( #{chr_no}, #{u_no} )
</insert>

</mapper>