<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kidzpark.kidzzone.mapper.KidzzoneMapper">

  <select id="selectKiddzonelist"
  resultType="com.kidzpark.kidzzone.domain.KidzzoneVo">
   
 SELECT *
FROM (
    SELECT ROWNUM RN, A.*
    FROM (
SELECT *
    FROM KIDZZONE

    ) A
)
WHERE RN BETWEEN #{start} AND #{end} 
	
</select>

  <select id="selectKiddzone"
  resultType="com.kidzpark.kidzzone.domain.KidzzoneVo">
   
 SELECT *
    FROM KIDZZONE
	
</select>


<select id="countKiddzone" resultType="int">
 
SELECT COUNT(*) FROM KIDZZONE
 
 </select>
 
  <select id="selectKiddzoneSearch" resultType="com.kidzpark.kidzzone.domain.KidzzoneVo" parameterType="map">
  
SELECT *
	FROM KIDZZONE
	WHERE 1 = 1
 <if test="searchOption != 'all' and searchKeyword != ''">
        AND UPPER(${searchOption}) LIKE '%' || UPPER(#{searchKeyword}) || '%'
    </if>
    <if test="kz_location != 'all'">
        AND KZ_ADDRESS LIKE '%' || #{kz_location} || '%'
    </if>
    <if test="kz_category != 'all'">
        AND KZ_CATEGORY LIKE #{kz_category}
        </if>
		
</select>


<select id="countKiddzoneSearch" resultType="int">
 
SELECT COUNT(*) FROM KIDZZONE
WHERE 1 = 1
 <if test="searchOption != 'all' and searchKeyword != ''">
        AND UPPER(${searchOption}) LIKE '%' || UPPER(#{searchKeyword}) || '%'
    </if>
    <if test="kz_location != 'all'">
        AND KZ_ADDRESS LIKE '%' || #{kz_location} || '%'
    </if>
    <if test="kz_category != 'all'">
        AND KZ_CATEGORY LIKE #{kz_category}
        </if>
 
 </select>
 
<select id="selectKidzzoneSearchlist1"
  resultType="map">
   
 SELECT *
FROM (
    SELECT ROWNUM RN, A.*
    FROM (
SELECT *
    FROM KIDZZONE
    ) A
)
WHERE RN BETWEEN #{pg.start} AND #{pg.end} 
	
</select>

<select id="selectKidzzoneSearchlist2"
  resultType="map">
   
 SELECT *
FROM (
    SELECT ROWNUM RN, A.*
    FROM (
SELECT *
    FROM KIDZZONE
    WHERE 1 = 1
 <if test="searchOption != 'all' and searchKeyword != ''">
        AND UPPER(${searchOption}) LIKE '%' || UPPER(#{searchKeyword}) || '%'
    </if>
    <if test="kz_location != 'all'">
        AND KZ_ADDRESS LIKE '%' || #{kz_location} || '%'
    </if>
    <if test="kz_category != 'all'">
        AND KZ_CATEGORY LIKE #{kz_category}
        </if>
    ) A
)
WHERE RN BETWEEN #{pg.start} AND #{pg.end} 
	
</select>




<select id="countKiddzoneSearch1" resultType="int">
 
SELECT COUNT(*) FROM KIDZZONE
 
 </select>
<select id="countKiddzoneSearch2" resultType="int">
 
SELECT COUNT(*) FROM KIDZZONE
WHERE 1 = 1
 <if test="searchOption != 'all' and searchKeyword != ''">
        AND UPPER(${searchOption}) LIKE '%' || UPPER(#{searchKeyword}) || '%'
    </if>
    <if test="kz_location != 'all'">
        AND KZ_ADDRESS LIKE '%' || #{kz_location} || '%'
    </if>
    <if test="kz_category != 'all'">
        AND KZ_CATEGORY LIKE #{kz_category}
        </if>
 
 </select>
 
 <select id="reviewList" resultType="Map">
 
 SELECT Z.R_REVIEW,TO_CHAR(R_REVIEWDATE, 'YYYY-MM-DD') R_REVIEWDATE, Z.R_REVIEWIMG, Z.KZ_NO, Z.U_NO, U.U_NICKNAME
FROM ZONEREVIEW Z
LEFT JOIN PUSER U ON Z.U_NO  =  U.U_NO
WHERE Z.KZ_NO = #{kz_no}
 
 
 </select>
 
 
</mapper>